---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
	<main>
		<section>
			<h2>私とはなにか</h2>
			<p>科学に情熱を持つ学生</p>
		</section>
		<section>
			<h2>学歴</h2>
			<ul>
				<li>2002年 滋賀で生まれる</li>
				<li>2021年 滋賀県立虎姫高等学校卒</li>
				<li>2025年 広島大学理学部物理学科(学士号)卒業見込み</li>
			</ul>
		</section>
		<section>
			<h2>研究分野</h2>
			<p>
				私の主な興味分野は素粒子物理学でアクシオンの探査を行う予定
			</p>
		</section>
	</main>
</Layout>