---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hobby">
	<main>
		<h2>趣味</h2>
		<p>多趣味で常に新しい趣味を探している</p>
		<h2>趣味一覧</h2>
		<ul>
			<li>プログラミング
				<ul>
					<li>組版言語(Typst, LaTeX)</li>
					<li>Linux</li>
					<li>機械学習</li>
					<li>組み込みRust</li>
					<li>データ解析</li>
					<li>Python</li>
				</ul>
			</li>
			<li>将棋</li>
			<li>チェス</li>
			<li>音MAD</li>
			<li>スーパーファミコン</li>
			<li>アニメ鑑賞</li>
			<li>釣り</li>
		</ul>
	</main>
</Layout>