---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jijinbei's Room">
	<main>
		<h2>リンク集</h2>
		<ul>
			<li><a href="https://x.com/Hallucigeni">X(旧 Twitter)</a></li>
			<li><a href="https://github.com/jijinbei">GitHub</a></li>
			<li><a href="https://www.quark.hiroshima-u.ac.jp/">クォーク研究室</a></li>
		</ul>
	</main>
</Layout>

<style>
</style>
